{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – Task list
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Heading Content -->
    <h1 class="govuk-heading-l">Make an application</h1>

    <!-- Main Content -->
    <h2 class="govuk-heading-s">Application complete</h2>
    <p class="govuk-body">
      You have completed 0 of 7 sections.
    </p>
    <p class="govuk-body">
      After you have completed all the actions, you will be taken to a page where you can check your answers
      before submitting.
    </p>

    <!-- Tags -->
    {% set incomplete = { tag: { text: "Incomplete", classes: "govuk-tag--grey" } } %}

    <!-- Task Lists -->
    <h2 class="govuk-heading-m">1. Consider other options</h2>
    {{ govukTaskList({
      idPrefix: "considerOtherOptions",
      items: [
        { title: { text: "Resolving the dispute" }, href: "#", status: incomplete }
      ]
    }) }}

    <h2 class="govuk-heading-m">2. Prepare your application</h2>
    {{ govukTaskList({
      idPrefix: "prepareYourApplication",
      items: [
        { title: { text: "Completing your application" }, href: "#", status: incomplete },
        { title: { text: "Your details" }, href: "#", status: incomplete },
        { title: { text: "Their details" }, href: "#", status: incomplete },
        { title: { text: "Application details" }, href: "#", status: incomplete }
      ]
    }) }}

    <h2 class="govuk-heading-m">3. Submit</h2>
    {{ govukTaskList({
      idPrefix: "submit",
      items: [
        { title: { text: "Check and submit your application" }, href: "#", status: incomplete }
      ]
    }) }}
  </div>

  <!-- Sidebar Column -->
    <div class="govuk-grid-column-one-third">
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Contact us for help
            </span>
          </summary>
          <div class="govuk-details__text">
            For assistance, please call our helpline at 123-456-7890 or email help@example.com.
          </div>
        </details>
    </div>
</div>
{% endblock %}
