{% extends "layouts/main.html" %}

{% block pageTitle %}
    {{ serviceName }} – Application selection
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <!-- Main Content -->
        <div class="govuk-grid-column-two-thirds">
            <form class="form">
                {{ govukRadios({
                    name: "applicationType",
                    value: data['applicationType'],
                    fieldset: {
                        legend: {
                            text: "Choose the prototype version you want to use",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    items: [
                        {
                            value: "nonAutomatedMode",
                            text: "Non-automated mode"
                        },
                        {
                            value: "automatedMode",
                            text: "Automated mode"
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Convert the prototype"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
